---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="a1rqHMev2XlWgUK6SWeiOQ", oauth_nonce="9b55684232759ef79c4fe89177cf3c8f",
        oauth_signature="4XdjgDDjdKTuApFIfZnHgUOamvs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390882078", oauth_token="2314806716-wXhzOhqpXWc4f74cTtjvHgQtIuYc1f3ODjieVge",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 28 Jan 2014 04:07:59 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1390882979'
      X-Transaction:
      - 4b73e425a20dfa31
    body:
      encoding: UTF-8
      string: '{"id":2314806716,"id_str":"2314806716","name":"TriptionaryTK","screen_name":"TriptionaryTK","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Tue
        Jan 28 03:51:03 +0000 2014","favourites_count":0,"utc_offset":-25200,"time_zone":"Arizona","geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","status":{"created_at":"Tue
        Jan 28 04:05:36 +0000 2014","id":428015982070603776,"id_str":"428015982070603776","text":"@jsl_demo714
        Come join trip Siam on Triptionary! http:\/\/t.co\/NaJ4yNiphp","source":"\u003ca
        href=\"http:\/\/triptionary.tk\/\" rel=\"nofollow\"\u003eFrankenMedia\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/NaJ4yNiphp","expanded_url":"http:\/\/triptionary.tk","display_url":"triptionary.tk","indices":[49,71]}],"user_mentions":[]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_5_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_5_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 28 Jan 2014 04:07:58 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&user_id=2314806716
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="a1rqHMev2XlWgUK6SWeiOQ", oauth_nonce="90f84d289e36a1080fabaab4a08de7ac",
        oauth_signature="PYpirl9GUuvGecjZ6cdWxm3%2FrA8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390882078", oauth_token="2314806716-wXhzOhqpXWc4f74cTtjvHgQtIuYc1f3ODjieVge",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 28 Jan 2014 04:07:59 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1390882836'
      X-Transaction:
      - 47d252a80c32e1f9
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Jan 28 04:05:36 +0000 2014","id":428015982070603776,"id_str":"428015982070603776","text":"@jsl_demo714
        Come join trip Siam on Triptionary! http:\/\/t.co\/NaJ4yNiphp","source":"\u003ca
        href=\"http:\/\/triptionary.tk\/\" rel=\"nofollow\"\u003eFrankenMedia\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2314806716,"id_str":"2314806716","name":"TriptionaryTK","screen_name":"TriptionaryTK","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Tue
        Jan 28 03:51:03 +0000 2014","favourites_count":0,"utc_offset":-25200,"time_zone":"Arizona","geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_en[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=%40jsl_demo627+Come+join+trip+Siam+on+Triptionary%21+http%3A%2F%2Ftriptionary.tk
    headers:
      Authorization:
      - OAuth oauth_consumer_key="a1rqHMev2XlWgUK6SWeiOQ", oauth_nonce="da6e962786392bc73b8341fafc40868a",
        oauth_signature="YU34Lif65lHXC4YAS9cCTKhiHFE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390882079", oaut[...]
